/* ===== BODY ===== */
body {
  margin: 0;
  color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: #421818;
  height: 100vh;
}

/* ===== CONTENEDOR OPCIONAL ===== */
.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* ===== H1 ===== */
h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
}

/* ===== INPUT ===== */
input {
  color: #333;
  background-color: #ececec;
  padding: 12px;
  /* margin-bottom: 15px; */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: large;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #aa1313;
  box-shadow: 10px 10px 10px #300d0d;
}

/* ===== OLD BUTTON ===== */
/* button {
  padding: 5px 10px;
  background-color: #4d1a1a;
  color: #ececec;
  border: none;
  border-radius: 6px;
  font-size: 50px;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
} */
button {
  padding: 6px;
  background-color: #d4d4d4;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size:large;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

button:hover {
  border-color: #4b0a0a;
  background-color: #531717;
  color: #d4d4d4;
}

button:active {
  transform: scale(0.98);
}

button:disabled:active {
  transform: none;
}

input:disabled,button:disabled {
  background-color: #1f1f1f;
  color: #999;
  border: 1px solid #333;
  cursor: not-allowed;
  opacity: 0.6;
}